<h1>Listar Item</h1>

{{#each items }}
	<div id="dvData">
		<table id="tblResultados">
			<tr>
			  <td>{{idItem}}</td>
			  <td>{{descricaoItem}}</td>
			  <td>{{codEanIteam}}</td>
			  <td>{{fkSubgrupo}}</td>
    		  <td>{{#formatDate createdAt}}{{/formatDate}}</td>
    		  <td><a href="/del-item/{{idItem}}"><button class="btn btn-danger">Apagar</button></a></td>
			</tr>
		</table>

	</div>
	<hr>	
{{/each}}